body,
html {
    background-color: #bbe4f0;
    height: 100%;
    margin: 0px;
    font-size: 14pt;
    line-height: 20pt;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

footer {
    text-align: center;
    background-color: #68bad4;
    font-family: monospace;
    padding: 5px;
}

h1 {
    font-size: 60pt;
    text-align: center;
    color: #63a33b;
    text-shadow: 1px 1px 1px black;
}

p {
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: #e28418;
    text-shadow: 1px 1px 1px black;
}

footer form {
    display: inline-block;
}

button {
    font-weight: bold;
    background-color: #D48268;
    color: white;
}