<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>boolco.dev!</title>
        <link rel="stylesheet" href="/static/style/index.css" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+TAS+Beginner:wght@700&family=Ibarra+Real+Nova:ital@1&family=Roboto:wght@100&display=swap" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/browser_stuff/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/browser_stuff/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/browser_stuff/favicon-16x16.png">
        <link rel="manifest" href="/static/browser_stuff/site.webmanifest">
    </head>
    <body>
        <div class="main">
        <div class="center">
            <h1>
                <span style="font-family: 'Roboto', sans-serif;">Graphic</span>
                <span style="font-family: 'Edu TAS Beginner', cursive;">design</span>
                <span style="font-family: 'Ibarra Real Nova', serif;">is my</span>
                <span style="font-family: 'Bebas Neue', cursive; text-shadow: 3px 3px 1px black;">passion</span>
            </h1>
            <p>
                Congratulations! You are visitor number <u>{{ visitors }}</u>.
                <span style="font-size: 10px; color: gray;">Now with saved state, courtesy of Monadic Cat</span><br />
                Come play a <a href="/game">game!</a>
            </p>
        </div>
        <footer>
            Written by boolean_coercion. Source: <a href="https://github.com/booleancoercion/boolco.dev">GitHub</a>.
        </footer>
        </div>
    </body>
</html>